SECRET_KEY=dEm_eB_Myl8kpuDT5uO5ABus0FjRZRmddGjG13g1Hm4ffBF2kjLJYNBfkWktxaC6gQo
DEBUG=False
# Leave DATABASE_URL unset to use local sqlite for development.
# For PostgreSQL: postgres://USER:PASSWORD@HOST:PORT/DBNAME
DATABASE_URL=
CORS_ALLOWED_ORIGINS=http://localhost:5173
